/*generated*/
body{
    position: relative;
    z-index: 0;
    background-color: black;

    justify-content: center;
    align-items: center;
}

#image{
    height: 150px;
    width: 100px;
}

.text{
    background-color: rgb(0,0,0);
    background-color: rgba(20,20,20, 0.8);
    border-radius: 20px;

    color: white;
    font-family: Calibri, serif;
    font-size: 20px;
}

.profileDiv{
    background-color: rgb(0,0,0);
    background-color: rgba(20,20,20, 0.8);
    border-radius: 20px;

    color: white;
    font-family: Calibri, serif;
    font-size: 20px;
    padding-left: 5px;
}

.editFormDiv{
    background-color: rgb(0,0,0);
    background-color: rgba(20,20,20, 0.8);
    border-radius: 20px;

    color: white;
    font-family: Calibri, serif;
    font-size: 20px;
    /*padding-left: 5px;*/

    width: 320px;
    padding: 15px;

    margin-left: 40%;
    margin-top: 12%;
}

.profileFields{
    color: white;
    font-family: Calibri, serif;
    font-size: 20px;
}

.error{
    background-color: rgb(0,0,0);
    background-color: rgba(20,20,20, 0.8);
    border-radius: 20px;

    color: red;
    font-family: Calibri, serif;
    font-size: 20px;
}

/*generated*/
.bg{
    position: fixed;
    inset: 0;
    background: url("/bg.jpg") center / cover no-repeat;
    filter: blur(8px);
    z-index: -1;
}
/*generated*/
.cartButton{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.backButton{
    position: fixed;
    top: 20px;
    left: 20px;

    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.removeButton{

    background: transparent;
    border: none;
    padding: 0;
    /*margin: 0;*/
    cursor: pointer;
}

.profileButton{
    background: transparent;
    border: none;
    padding: 0;
    /*margin: 0;*/
    cursor: pointer;
}

.editButton{
    background: transparent;
    border: none;
    padding: 0;
    /*margin: 0;*/
    cursor: pointer;
}

.cancelButton{
    background: transparent;
    border: none;
    padding: 0;
    /*margin: 0;*/
    cursor: pointer;
}

.cartIcon{
    width: 50px;
    height: 40px;
}

.backIcon{
    width: 50px;
    height: 40px;
}

.removeIcon{
    width: 50px;
    height: 50px;
}

.profileIcon{
    width: 50px;
    height: 50px;
}

.editIcon{
    width: 50px;
    height: 50px;
}

.cancelIcon{
    width: 50px;
    height: 50px;
}

.confirmIcon{
    width: 50px;
    height: 50px;
}

input{
    border-radius: 5px;
    margin-top: 3px;
}

table{
}

td {
    color: white;
    font-family: Calibri, serif;
    font-size: 20px;

    width: 500px;
    height: 70px;

    background-color: rgb(0,0,0);
    background-color: rgba(20,20,20, 0.7);

    padding: 8px;
}

th {
    color: white;
    font-family: Calibri, serif;
    font-size: 25px;

    width: 500px;
    height: 40px;

    border-radius: 20px;
    padding: 8px;
}
